{% extends 'layouts/base.html' %}

{% block title %} Upload {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Excel File</title>
</head>
<body>
    <h2>Upload Excel File</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="excel_file">Choose Excel File:</label>
        <input type="file" name="excel_file" id="excel_file" accept=".xlsx, .xls">
        <button type="submit">Upload</button>
    </form>
</body>
</html>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="/static/assets/vendor/clipboard/dist/clipboard.min.js"></script>

{% endblock javascripts %}